body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    
    
}

div#dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid green;
    width: 300px;
    gap: 20px;
    border-radius: 15%;
    background-color: rgb(142, 243, 208);
}

#saldo{
    border-radius: 5%;
    background-color: rgb(179, 243, 243);
    width: 200px;
    height: 30px;
    
}

#divida{
    border-radius: 5%;
    background-color: rgb(179, 243, 243);
    width: 200px;
    height: 30px;
    
}


#conferindo{

    border-radius: 20%;
    transition: 0.3s ease;
    border: 2px solid aqua;
}

#conferindo:hover{
    color: black;
    transform: scale(1.03) translateY(5px);
    background-color: blue;
    box-shadow: 0 0 15px blue;
    
   
}

