@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

body{
    width: 100%;
    height: 100hv;
    background-color: rgb(0, 95, 63);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}


div#cabeca .foto{
border: 4px solid black ;
   width: 300px;
   height: 300px; 
}

div#foto {
    background-color: black;
    position: fixed;
    top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div#dados{
    background-color: aqua;
    border-radius: 9%;
    position: fixed;
    top: 250px;
    height: 300px;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}


div#dados .inform{
    background-color: rgb(148, 212, 241);
    font-weight: 6px;
    color: black;
}

div#dados div .icons{

    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
    cursor: pointer
}
 
#texto:hover{
    transform: scale(1.05);
}

#icones{
 transition: 0.3s;
}

#icones:hover{
    transform: scale(1.4);
}

section div .dados#inform{
    background-color: blue;
}

div#dados div .icons .texto{
   gap: 20px;
   width: 40px;
   
}

div#btn{
    position: fixed;
    top: 600px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5;
    border-radius: 7% ;
    
}



div#btn .botao{
    background-color: #85d0fc;
    border-radius: 30%;
    border: 2px solid #85d0fc;
    transition: 0.3s ease;
    cursor: pointer;
}
div#btn .botao:hover{
    transform: scale(1.03);
    background-color: #45a7e0;
    color: black;
    box-shadow: 0 0 25 #45a7e0;
}



div#foto .img1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


div#btn .botao{
    width: 100px;
    height: 40px;
    margin-left: 35px;
    
    
    
}

div#dados #texto{
   width: 250px;
   height: 30px;
   border: transparent;
   margin: 20px;


   
}